.App {
  text-align: center;
  color: slategray;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: slategray;
  padding: 20px;
}

.App-link {
  color: #61dafb;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.App-link:hover {
  text-decoration: underline;
}

.App-body {
  padding: 20px;
  background-color: #686565;
}

section {
  margin: 40px 0;
}

section h2 {
  font-size: 2em;
  color: #1059eb;
}

section p {
  font-size: 1.2em;
  color: slategray;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}
